.produto {
    align-items: center;
    justify-content: end; 
    display: flex !important;
    flex-direction: column;
    text-align: center; ;
    width: 18rem;
    height: 25rem !important;
    margin-top: 2rem;
  }
  
  .produto img {
    width: auto;
    max-width: 90%;
    max-height: 180px; 
    padding: 5px;
    
  }

  .card-body {
    padding: 5px !important;
    align-items: center;
    justify-content: end; 
    display: flex !important;
    flex-direction: column;
  }
